/alpha_weights
/alphagenome
/alphagenome_research
huggingfacetoken.txt
hg38.fa
hg38.fa.fai
data/alphagenome_API_key.txt
.vscode
.DS_Store
*.ipynb_checkpoints
alphagenome_API_key.txt
AOU research use questions.docx
py311_AG(installation) Updated 6-13.pdf
data/clinvar.vcf.gz
data/clinvar.vcf
data/clinvar.vcf.gz.tbi
data/gencode.v46.annotation.gtf.gz.feather
*.pkl
data/lmna_variant_scores.csv
data/lmna_pathogenic.csv
/data
.env
/figs
total-rna-seq.npz
pre_predictions.npz
lmna_pathogenic_notLMNAgenelabeled.csv
/outputs
